* {
  margin: 0;
  padding: 0;
}
.menu {
  background-color: skyblue;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li {
  list-style: none;
  font-size: 20px;
  padding: 20px 20px;
}
